<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <meta charset='UTF-8'>
        <link rel="icon" href="static/images/cloud-sun-solid.png" type="image/png">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <div class="container" id="centered">
            <form class="example" action="{{ url_for('weather_display') }}" method="POST">
                <input type="text" placeholder="Print your location or press button below" name="location_form">
                <button type="submit">Locate automatically</button>
            </form>
        </div>
    </body>
</html>
