<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <meta charset='UTF-8'>
        <link rel="icon" href="static/images/cloud-sun-solid.png" type="image/png">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
        <style>
            body {
                background-image: url('{{item["Background"]}}');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div>
                    <img width=120px height=120px src="{{item['Icon']}}" alt="Weather visual">
                </div>
                <div>
                    <h1>{{ item['Temperature'] }}</h1>
                </div>
                <div>
                    <h2>{{ item['Location'] }}</h2>
                    <p>{{ item['Description'] }}</p>
                </div>
            </div>
            <div class="row">
                <div>
                    <p>Feels like {{ item['Feels_like'] }}</p>
                    <p>Barometer {{ item['Pressure'] }}</p>
                </div>
                <div class="vl" style="height: 50px"></div>
                <div>
                    <p>Wind {{ item['Wind_speed'] }}</p>
                    <p>Wind direction {{ item['Wind_direction'] }}</p>
                </div>
                <div class="vl" style="height: 50px"></div>
                <div>
                    <p>Humidity {{ item['Humidity'] }}</p>
                    <p>Visibility {{ item['Visibility'] }}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for data in forecast_items[1:8] %}
                    {% if data != forecast_items[1] %}
                        <div class="vl" style="height: 300px"></div>
                    {% endif %}
                    <div>
                        <p>{{data['Date']}}</p>
                        <img width=80px height=80px src="{{data['Icon']}}" alt="Weather visual">
                        <p>{{data['Description']}}</p>
                        <p>&#127777 {{data['Temperature']}}</p>
                        <p>&#128167 {{data['Humidity']}}</p>
                        <p>&#128207 {{data['Pressure']}}</p>
                        <p>&#128168 {{data['Wind_speed']}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>

